.sbSearch{	  	
	      position: relative;
	  }
	    .sbSearch .search-box {
		    background: #fcfcfc;
			border: 1px solid #aaa;
			border-radius: 5px;
			box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
			margin-left: -10px;
			margin-right: -12px;
			text-indent: 16px;
			padding:0px 15px 0px 0px;
			margin-top: 0px;
			line-height:10px;
		}
		
		.search-btn-light {
			color: #212529;
			border-color: #f8f9fa;
			width:10px;
			height:10px;
			margin-top: 6px;
			border: none !important;
			outline:none;
		}
		
		.sbSearch .ui-inputgroup {margin-bottom: 4px;}

	.field-tip {
	    position:relative;
	    padding: 0.5em 0 0.5em 0.5em;
	    width:160px;
	    cursor: pointer;
		display: block;
		background-image: linear-gradient(to right, #2e6830, #64A086);
	    color: #FFFFFF;
	    font-size: 100%;
	}
	
	.field-tip:hover {background-image: linear-gradient(to right, #006639, #008c4f);}
	.field-tip:active {
	  background-image: linear-gradient(to right, #006639, #008c4f);
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
	}

    .field-tip .field-tip-content {
        position:absolute;
        top:-10px;
        opacity:0;
        right:9999px;
        padding:10px;
        color:#000; 
        background-color:#dbefdc;
        
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
    }
        
        .field-tip .field-tip-content:before {
            content:' ';
            position:absolute;
            top:20%;
            left:-16px; 
            width:0;
            height:0;
            margin-top:-8px; 
            border:8px solid transparent;
            border-right-color:#dbefdc;
        }